<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Chat</title>
</head>
<body>
    <main>
        <section>
          <h1>De Chat</h1>
          <ul></ul>
          <form>
            <input type="text" autocomplete="off" id="chat">
            <button><span>Verstuur</span></button>
          </form>
        </section>
    </main>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="./script.js"></script>
</body>
</html>